body{
    margin: 0;
    padding: 2%;
    background: khaki;
}
#app{
    border: 1px solid black;
    padding-bottom: 2%;
    background: gold;
}
#app div #A{
    border: none;
    background: orangered;
    display: flex;
    text-align: center;
    color: white;
    font-size: 15px;
    margin-bottom: 1%;
}
#app div #A .aa{
    width: 100%;
    margin: 5px;
    border-bottom: 2px solid gray;
}
#B{
    border: 1px solid black;
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 10px;
    color: white;
    font-weight: bold;
    background-color: rgb(129, 38, 5);
    padding: 1%;
    margin-bottom: 1%;
}
#C{
    border: 1px solid blue;
    background: darkgoldenrod;
    padding: 10px;
    width: 90%;
    margin: auto;
}
#C .Cc{
    border: 1px solid green;
    margin: 10px;
    background: darkolivegreen;
    display: flex;
}
#C .cc{
    border: 2px solid white;
    background: linear-gradient(orangered, blue);
    width: 15%;
    text-align: center;
    color: white;
    margin: 1%;
    border-radius: 50%;
    padding: 2%;
}
#C .cc:hover{
    position: relative;
    top: 10px;
    border: none;
    background: black;
}

@media  screen and (max-width: 1000px) {
    #C .cc{
        width: 15%;
        font-size: 10px;
    }
    
}